:root {
	--nittany: 4,30,66;
	--nittany-dark: 2,18,41;
	--beaver: 30,64,124;
	--beaver-dark: 24,52,99;
	--sky: 0,156,222;
	--sky-dark: 0,137,196;
	--limestone: 162,170,173;
	--limestone-dark: 139,146,148;
	--creek: 62,163,158;
	--creek-dark: 52,138,133;
	--slate: 49,77,100;
	--slate-dark: 36,57,74;
	--forest: 74,119,41;
	--forest-dark: 58,94,32;
	--coaly: 68,68,68;
	--coaly-dark: 48,48,48;
	--landgrant: 106,48,40;
	--landgrant-dark: 82,37,31;
	--roar: 191,130,38;
	--roar-dark: 166,113,33;
	--shrine: 184,137,101;
	--shrine-dark: 158,118,87;
	--atherton: 172,141,206;
	--atherton-dark: 151,123,181;
	--pugh: 150,190,230;
	--pugh-lt: 235,244,255;
	--pugh-dark: 133,168,204;
	--original: 188,32,75;
	--original-dark: 163,28,66;
	--keystone: 255,209,0;
	--keystone-dark: 229,187,0;
	--invent: 233,131,0;
	--invent-dark: 207,117,0;
	--discovery: 242,102,94;
	--discovery-dark: 217,91,85;
	--wonder: 73,29,112;
	--wonder-dark: 57,23,87;
	--opportunity: 0,135,85;
	--opportunity-dark: 0,110,69;
	--future: 153,204,0;
	--future-dark: 134,179,0;
}

.alert-primary {
	color: rgba(var(--nittany),1);
	background-color: rgba(var(--pugh),.5);
	border-color: rgba(var(--pugh),.5);
}

.alert-secondary {
	color: #333;
	background-color: rgba(var(--limestone),.5);
	border-color: rgba(var(--limestone),.5);
}

.alert-success {
	color: rgba(0,0,0,.65);
	background-color: rgba(var(--future),.5);
	border-color: rgba(var(--future),.5);
}

.alert-danger {
	color: #bc204b;
	background-color: rgba(var(--original),.2);
	border-color: rgba(var(--original),.2);
}

.alert-warning {
	background-color: rgba(var(--keystone),.25);
	border-color: rgba(var(--keystone),.25);
}

.alert-info {
	color: #314d64;
	background-color: rgba(var(--sky),.25);
	border-color: rgba(var(--sky),.25);
}

.bg-nittany {
	background-color: rgba(var(--nittany),1) !important;
}

.bg-beaver {
	background-color: rgba(var(--beaver),1) !important;
}

.bg-sky {
	background-color: rgba(var(--sky),1) !important;
}

.bg-limestone {
	background-color: rgba(var(--limestone),1) !important;
}

.bg-limestone-lt {
	background-color: rgba(var(--limestone),.15) !important;
}

.bg-creek {
	background-color: rgba(var(--creek),1) !important;
}

.bg-slate {
	background-color: rgba(var(--slate),1) !important;
}

.bg-forest {
	background-color: rgba(var(--forest),1) !important;
}

.bg-coaly {
	background-color: rgba(var(--coaly),1) !important;
}

.bg-landgrant {
	background-color: rgba(var(--landgrant),1) !important;
}

.bg-roar {
	background-color: rgba(var(--roar),1) !important;
}

.bg-shrine {
	background-color: rgba(var(--shrine),1) !important;
}

.bg-atherton {
	background-color: rgba(var(--atherton),1) !important;
}

.bg-pugh {
	background-color: rgba(var(--pugh),1) !important;
}

.bg-pugh-lt {
	background-color: rgba(var(--pugh-lt),1) !important;
}

.bg-pugh-overlay {
	background-color: rgba(var(--pugh),.15) !important;
}

.bg-original {
	background-color: rgba(var(--original),1) !important;
}

.bg-keystone {
	background-color: rgba(var(--keystone),1) !important;
}

.bg-invent {
	background-color: rgba(var(--invent),1) !important;
}

.bg-discovery {
	background-color: rgba(var(--discovery),1) !important;
}

.bg-wonder {
	background-color: rgba(var(--wonder),1) !important;
}

.bg-opportunity {
	background-color: rgba(var(--opportunity),1) !important;
}

.bg-future {
	background-color: rgba(var(--future),1) !important;
}

.text-nittany {
	color: rgba(var(--nittany),1) !important;
}

.text-beaver {
	color: rgba(var(--beaver),1) !important;
}

.text-sky {
	color: rgba(var(--sky),1) !important;
}

.text-limestone {
	color: rgba(var(--limestone),1) !important;
}

.text-limestone-lt {
	color: rgba(var(--limestone),.15) !important;
}

.text-creek {
	color: rgba(var(--creek),1) !important;
}

.text-slate {
	color: rgba(var(--slate),1) !important;
}

.text-forest {
	color: rgba(var(--forest),1) !important;
}

.text-coaly {
	color: rgba(var(--coaly),1) !important;
}

.text-landgrant {
	color: rgba(var(--landgrant),1) !important;
}

.text-roar {
	color: rgba(var(--roar),1) !important;
}

.text-shrine {
	color: rgba(var(--shrine),1) !important;
}

.text-atherton {
	color: rgba(var(--atherton),1) !important;
}

.text-pugh {
	color: rgba(var(--pugh),1) !important;
}

.text-pugh-lt {
	color: rgba(var(--pugh-lt),1) !important;
}

.text-original {
	color: rgba(var(--original),1) !important;
}

.text-keystone {
	color: rgba(var(--keystone),1) !important;
}

.text-invent {
	color: rgba(var(--invent),1) !important;
}

.text-discovery {
	color: rgba(var(--discovery),1) !important;
}

.text-wonder {
	color: rgba(var(--wonder),1) !important;
}

.text-opportunity {
	color: rgba(var(--opportunity),1) !important;
}

.text-future {
	color: rgba(var(--future),1) !important;
}

.btn {
	font-family: 'Roboto Slab', serif;
	border-radius: 0;
	padding: .75rem 1rem;
}

.btn-group-lg>.btn, .btn-lg {
	padding: .75rem 1.25rem;
}

.btn-link, .btn-link:active, .btn-link:focus {
	color: rgba(var(--sky),1);
	padding: 0;
	text-decoration: none;
}

.btn-link:hover {
	color: rgba(var(--sky-dark),1);
}

.btn-nittany, .btn-nittany:active, .btn-nittany:focus {
	color: #fff;
	background-color: rgba(var(--nittany),1);
}

.btn-nittany:hover {
	color: #fff;
	background-color: rgba(var(--nittany-dark),1);
}

.btn-beaver, .btn-beaver:active, .btn-beaver:focus {
	color: #fff;
	background-color: rgba(var(--beaver),1);
}

.btn-beaver:hover {
	color: #fff;
	background-color: rgba(var(--beaver-dark),1);
}

.btn-sky, .btn-sky:active, .btn-sky:focus {
	color: #fff;
	background-color: rgba(var(--sky),1);
}

.btn-sky:hover {
	color: #fff;
	background-color: rgba(var(--sky-dark),1);
}

.btn-limestone, .btn-limestone:active, .btn-limestone:focus {
	color: #fff;
	background-color: rgba(var(--limestone),1);
}

.btn-limestone:hover {
	color: #fff;
	background-color: rgba(var(--limestone-dark),1);
}

.btn-limestone-lt, .btn-limestone-lt:active, .btn-limestone-lt:focus {
	color: rgba(var(--beaver),1);
	background-color: rgba(var(--limestone),.15);
}

.btn-limestone-lt:hover {
	color: rgba(var(--beaver),1);
	background-color: rgba(var(--limestone),.25);
}

.btn-creek, .btn-creek:active, .btn-creek:focus {
	color: #fff;
	background-color: rgba(var(--creek),1);
}

.btn-creek:hover {
	color: #fff;
	background-color: rgba(var(--creek-dark),1);
}

.btn-slate, .btn-slate:active, .btn-slate:focus {
	color: #fff;
	background-color: rgba(var(--slate),1);
}

.btn-slate:hover {
	color: #fff;
	background-color: rgba(var(--slate-dark),1);
}

.btn-forest, .btn-forest:active, .btn-forest:focus {
	color: #fff;
	background-color: rgba(var(--forest),1);
}

.btn-forest:hover {
	color: #fff;
	background-color: rgba(var(--forest-dark),1);
}

.btn-coaly, .btn-coaly:active, .btn-coaly:focus {
	color: #fff;
	background-color: rgba(var(--coaly),1);
}

.btn-coaly:hover {
	color: #fff;
	background-color: rgba(var(--coaly-dark),1);
}

.btn-landgrant, .btn-landgrant:active, .btn-landgrant:focus {
	color: #fff;
	background-color: rgba(var(--landgrant),1);
}

.btn-landgrant:hover {
	color: #fff;
	background-color: rgba(var(--landgrant-dark),1);
}

.btn-roar, .btn-roar:active, .btn-roar:focus {
	color: #fff;
	background-color: rgba(var(--roar),1);
}

.btn-roar:hover {
	color: #fff;
	background-color: rgba(var(--roar-dark),1);
}

.btn-shrine, .btn-shrine:active, .btn-shrine:focus {
	color: #fff;
	background-color: rgba(var(--shrine),1);
}

.btn-shrine:hover {
	color: #fff;
	background-color: rgba(var(--shrine-dark),1);
}

.btn-atherton, .btn-atherton:active, .btn-atherton:focus {
	color: #fff;
	background-color: rgba(var(--atherton),1);
}

.btn-atherton:hover {
	color: #fff;
	background-color: rgba(var(--atherton-dark),1);
}

.btn-pugh, .btn-pugh:active, .btn-pugh:focus {
	color: #fff;
	background-color: rgba(var(--pugh),1);
}

.btn-pugh:hover {
	color: #fff;
	background-color: rgba(var(--pugh-dark),1);
}

.btn-pugh-lt, .btn-pugh-lt:active, .btn-pugh-lt:focus {
	color: rgba(var(--beaver),1);
	background-color: rgba(var(--pugh-lt),1);
}

.btn-pugh-lt:hover {
	color: rgba(var(--beaver),1);
	background-color: rgba(var(--pugh),1);
}

.btn-original, .btn-original:active, .btn-original:focus {
	color: #fff;
	background-color: rgba(var(--original),1);
}

.btn-original:hover {
	color: #fff;
	background-color: rgba(var(--original-dark),1);
}

.btn-keystone, .btn-keystone:active, .btn-keystone:focus {
	color: #fff;
	background-color: rgba(var(--keystone),1);
}

.btn-keystone:hover {
	color: #fff;
	background-color: rgba(var(--keystone-dark),1);
}

.btn-invent, .btn-invent:active, .btn-invent:focus {
	color: #fff;
	background-color: rgba(var(--invent),1);
}

.btn-invent:hover {
	color: #fff;
	background-color: rgba(var(--invent-dark),1);
}

.btn-discovery, .btn-discovery:active, .btn-discovery:focus {
	color: #fff;
	background-color: rgba(var(--discovery),1);
}

.btn-discovery:hover {
	color: #fff;
	background-color: rgba(var(--discovery-dark),1);
}

.btn-wonder, .btn-wonder:active, .btn-wonder:focus {
	color: #fff;
	background-color: rgba(var(--wonder),1);
}

.btn-wonder:hover {
	color: #fff;
	background-color: rgba(var(--wonder-dark),1);
}

.btn-opportunity, .btn-opportunity:active, .btn-opportunity:focus {
	color: #fff;
	background-color: rgba(var(--opportunity),1);
}

.btn-opportunity:hover {
	color: #fff;
	background-color: rgba(var(--opportunity-dark),1);
}

.btn-future, .btn-future:active, .btn-future:focus {
	color: #fff;
	background-color: rgba(var(--future),1);
}

.btn-future:hover {
	color: #fff;
	background-color: rgba(var(--future-dark),1);
}

.btn-outline-nittany, .btn-outline-nittany:active, .btn-outline-nittany:focus {
	color: rgba(var(--nittany),1);
	background-color: transparent;
	border-color: rgba(var(--nittany),1);
}

.btn-outline-nittany:hover, .btn-outline-nittany:not(:disabled):not(.disabled).active, .btn-outline-nittany:not(:disabled):not(.disabled):active, .show>.btn-outline-nittany.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--nittany),1);
}

.btn-outline-beaver, .btn-outline-beaver:active, .btn-outline-beaver:focus {
	color: rgba(var(--beaver),1);
	background-color: transparent;
	border-color: rgba(var(--beaver),1);
}

.btn-outline-beaver:hover, .btn-outline-beaver:not(:disabled):not(.disabled).active, .btn-outline-beaver:not(:disabled):not(.disabled):active, .show>.btn-outline-beaver.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--beaver),1);
}

.btn-outline-sky, .btn-outline-sky:active, .btn-outline-sky:focus {
	color: rgba(var(--sky),1);
	background-color: transparent;
	border-color: rgba(var(--sky),1);
}

.btn-outline-sky:hover, .btn-outline-sky:not(:disabled):not(.disabled).active, .btn-outline-sky:not(:disabled):not(.disabled):active, .show>.btn-outline-sky.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--sky),1);
}

.btn-outline-limestone, .btn-outline-limestone:active, .btn-outline-limestone:focus  {
	color: rgba(var(--limestone),1);
	background-color: transparent;
	border-color: rgba(var(--limestone),1);
}

.btn-outline-limestone:hover, .btn-outline-limestone:not(:disabled):not(.disabled).active, .btn-outline-limestone:not(:disabled):not(.disabled):active, .show>.btn-outline-limestone.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--limestone),1);
}

.btn-outline-creek, .btn-outline-creek:active, .btn-outline-creek:focus  {
	color: rgba(var(--creek),1);
	background-color: transparent;
	border-color: rgba(var(--creek),1);
}

.btn-outline-creek:hover, .btn-outline-creek:not(:disabled):not(.disabled).active, .btn-outline-creek:not(:disabled):not(.disabled):active, .show>.btn-outline-creek.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--creek),1);
}

.btn-outline-slate, .btn-outline-slate:active, .btn-outline-slate:focus  {
	color: rgba(var(--slate),1);
	background-color: transparent;
	border-color: rgba(var(--slate),1);
}

.btn-outline-slate:hover, .btn-outline-slate:not(:disabled):not(.disabled).active, .btn-outline-slate:not(:disabled):not(.disabled):active, .show>.btn-outline-slate.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--slate),1);
}

.btn-outline-forest, .btn-outline-forest:active, .btn-outline-forest:focus  {
	color: rgba(var(--forest),1);
	background-color: transparent;
	border-color: rgba(var(--forest),1);
}

.btn-outline-forest:hover, .btn-outline-forest:not(:disabled):not(.disabled).active, .btn-outline-forest:not(:disabled):not(.disabled):active, .show>.btn-outline-forest.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--forest),1);
}

.btn-outline-coaly, .btn-outline-coaly:active, .btn-outline-coaly:focus  {
	color: rgba(var(--coaly),1);
	background-color: transparent;
	border-color: rgba(var(--coaly),1);
}

.btn-outline-coaly:hover, .btn-outline-coaly:not(:disabled):not(.disabled).active, .btn-outline-coaly:not(:disabled):not(.disabled):active, .show>.btn-outline-coaly.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--coaly),1)
}

.btn-outline-landgrant, .btn-outline-landgrant:active, .btn-outline-landgrant:focus  {
	color: rgba(var(--landgrant),1);
	background-color: transparent;
	border-color: rgba(var(--landgrant),1);
}

.btn-outline-landgrant:hover, .btn-outline-landgrant:not(:disabled):not(.disabled).active, .btn-outline-landgrant:not(:disabled):not(.disabled):active, .show>.btn-outline-landgrant.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--landgrant),1);
}

.btn-outline-roar, .btn-outline-roar:active, .btn-outline-roar:focus  {
	color: rgba(var(--roar),1);
	background-color: transparent;
	border-color: rgba(var(--roar),1);
}

.btn-outline-roar:hover, .btn-outline-roar:not(:disabled):not(.disabled).active, .btn-outline-roar:not(:disabled):not(.disabled):active, .show>.btn-outline-roar.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--roar),1);
}

.btn-outline-shrine, .btn-outline-shrine:active, .btn-outline-shrine:focus  {
	color: rgba(var(--shrine),1);
	background-color: transparent;
	border-color: rgba(var(--shrine),1);
}

.btn-outline-shrine:hover, .btn-outline-shrine:not(:disabled):not(.disabled).active, .btn-outline-shrine:not(:disabled):not(.disabled):active, .show>.btn-outline-shrine.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--shrine),1);
}

.btn-outline-atherton, .btn-outline-atherton:active, .btn-outline-atherton:focus  {
	color: rgba(var(--atherton),1);
	background-color: transparent;
	border-color: rgba(var(--atherton),1);
}

.btn-outline-atherton:hover, .btn-outline-atherton:not(:disabled):not(.disabled).active, .btn-outline-atherton:not(:disabled):not(.disabled):active, .show>.btn-outline-atherton.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--atherton),1);
}

.btn-outline-pugh, .btn-outline-pugh:active, .btn-outline-pugh:focus  {
	color: rgba(var(--pugh),1);
	background-color: transparent;
	border-color: rgba(var(--pugh),1);
}

.btn-outline-pugh:hover, .btn-outline-pugh:not(:disabled):not(.disabled).active, .btn-outline-pugh:not(:disabled):not(.disabled):active, .show>.btn-outline-pugh.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--pugh),1);
}

.btn-outline-original, .btn-outline-original:active, .btn-outline-original:focus  {
	color: rgba(var(--original),1);
	background-color: transparent;
	border-color: rgba(var(--original),1);
}

.btn-outline-original:hover, .btn-outline-original:not(:disabled):not(.disabled).active, .btn-outline-original:not(:disabled):not(.disabled):active, .show>.btn-outline-original.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--original),1);
}

.btn-outline-keystone, .btn-outline-keystone:active, .btn-outline-keystone:focus  {
	color: rgba(var(--keystone),1);
	background-color: transparent;
	border-color: rgba(var(--keystone),1);
}

.btn-outline-keystone:hover, .btn-outline-keystone:not(:disabled):not(.disabled).active, .btn-outline-keystone:not(:disabled):not(.disabled):active, .show>.btn-outline-keystone.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--keystone),1);
}

.btn-outline-invent, .btn-outline-invent:active, .btn-outline-invent:focus  {
	color: rgba(var(--invent),1);
	background-color: transparent;
	border-color: rgba(var(--invent),1);
}

.btn-outline-invent:hover, .btn-outline-invent:not(:disabled):not(.disabled).active, .btn-outline-invent:not(:disabled):not(.disabled):active, .show>.btn-outline-invent.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--invent),1);
}

.btn-outline-discovery, .btn-outline-discovery:active, .btn-outline-discovery:focus  {
	color: rgba(var(--discovery),1);
	background-color: transparent;
	border-color: rgba(var(--discovery),1);
}

.btn-outline-discovery:hover, .btn-outline-discovery:not(:disabled):not(.disabled).active, .btn-outline-discovery:not(:disabled):not(.disabled):active, .show>.btn-outline-discovery.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--discovery),1);
}

.btn-outline-wonder, .btn-outline-wonder:active, .btn-outline-wonder:focus  {
	color: rgba(var(--wonder),1);
	background-color: transparent;
	border-color: rgba(var(--wonder),1);
}

.btn-outline-wonder:hover, .btn-outline-wonder:not(:disabled):not(.disabled).active, .btn-outline-wonder:not(:disabled):not(.disabled):active, .show>.btn-outline-wonder.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--wonder),1);
}

.btn-outline-opportunity, .btn-outline-opportunity:active, .btn-outline-opportunity:focus  {
	color: rgba(var(--opportunity),1);
	background-color: transparent;
	border-color: rgba(var(--opportunity),1);
}

.btn-outline-opportunity:hover, .btn-outline-opportunity:not(:disabled):not(.disabled).active, .btn-outline-opportunity:not(:disabled):not(.disabled):active, .show>.btn-outline-opportunity.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--opportunity),1);
}

.btn-outline-future, .btn-outline-future:active, .btn-outline-future:focus  {
	color: rgba(var(--future),1);
	background-color: transparent;
	border-color: rgba(var(--future),1);
}

.btn-outline-future:hover, .btn-outline-future:not(:disabled):not(.disabled).active, .btn-outline-future:not(:disabled):not(.disabled):active, .show>.btn-outline-future.dropdown-toggle {
	color: #fff;
	background-color: rgba(var(--future),1);
}

.border-nittany {
	border-color: rgba(var(--nittany),1) !important;
}

.border-beaver {
	border-color: rgba(var(--beaver),1) !important;
}

.border-sky {
	border-color: rgba(var(--sky),1) !important;
}

.border-limestone {
	border-color: rgba(var(--limestone),1) !important;
}

.border-limestone-lt {
	border-color: rgba(var(--limestone),.15) !important;
}

.border-creek {
	border-color: rgba(var(--creek),1) !important;
}

.border-slate {
	border-color: rgba(var(--slate),1) !important;
}

.border-forest {
	border-color: rgba(var(--forest),1) !important;
}

.border-coaly {
	border-color: rgba(var(--coaly),1) !important;
}

.border-landgrant {
	border-color: rgba(var(--landgrant),1) !important;
}

.border-roar {
	border-color: rgba(var(--roar),1) !important;
}

.border-shrine {
	border-color: rgba(var(--shrine),1) !important;
}

.border-atherton {
	border-color: rgba(var(--atherton),1) !important;
}

.border-pugh {
	border-color: rgba(var(--pugh),1) !important;
}

.border-pugh-lt {
	border-color: rgba(var(--pugh-lt),1) !important;
}

.border-original {
	border-color: rgba(var(--original),1) !important;
}

.border-keystone {
	border-color: rgba(var(--keystone),1) !important;
}

.border-invent {
	border-color: rgba(var(--invent),1) !important;
}

.border-discovery {
	border-color: rgba(var(--discovery),1) !important;
}

.border-wonder {
	border-color: rgba(var(--wonder),1) !important;
}

.border-opportunity {
	border-color: rgba(var(--opportunity),1) !important;
}

.border-future {
	border-color: rgba(var(--future),1) !important;
}

.badge-nittany {
	background-color: rgba(var(--nittany),1) !important;
}

.badge-beaver {
	background-color: rgba(var(--beaver),1) !important;
}

.badge-sky {
	background-color: rgba(var(--sky),1) !important;
}

.badge-limestone {
	background-color: rgba(var(--limestone),1) !important;
}

.badge-limestone-lt {
	background-color: rgba(var(--limestone),.15) !important;
}

.badge-creek {
	background-color: rgba(var(--creek),1) !important;
}

.badge-slate {
	background-color: rgba(var(--slate),1) !important;
}

.badge-forest {
	background-color: rgba(var(--forest),1) !important;
}

.badge-coaly {
	background-color: rgba(var(--coaly),1) !important;
}

.badge-landgrant {
	background-color: rgba(var(--landgrant),1) !important;
}

.badge-roar {
	background-color: rgba(var(--roar),1) !important;
}

.badge-shrine {
	background-color: rgba(var(--shrine),1) !important;
}

.badge-atherton {
	background-color: rgba(var(--atherton),1) !important;
}

.badge-pugh {
	background-color: rgba(var(--pugh),1) !important;
}

.badge-pugh-lt {
	background-color: rgba(var(--pugh-lt),1) !important;
}

.badge-original {
	background-color: rgba(var(--original),1) !important;
}

.badge-keystone {
	background-color: rgba(var(--keystone),1) !important;
}

.badge-invent {
	background-color: rgba(var(--invent),1) !important;
}

.badge-discovery {
	background-color: rgba(var(--discovery),1) !important;
}

.badge-wonder {
	background-color: rgba(var(--wonder),1) !important;
}

.badge-opportunity {
	background-color: rgba(var(--opportunity),1) !important;
}

.badge-future {
	background-color: rgba(var(--future),1) !important;
}

body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0 4rem;
}

.card {
	border: none;
}

article {
	padding: 4rem 0;
}

article#intro {
	padding-bottom: 15rem;
}

article#latest-work div.row {
	margin-top: -15rem;
}

article#latest-work div.row div.card div.card-img-overlay {
	visibility: hidden;
	opacity: 0;
  	transition: visibility 500ms linear 500ms, opacity 500ms;
}

article#latest-work div.row div.card:hover div.card-img-overlay {
	visibility: visible;
	background-color: rgba(var(--nittany),.9);
	opacity: 1;
  	transition: visibility 0ms linear 0ms, opacity 500ms;
}