body {
	font-family: 'Roboto', serif;
}

a:hover {
	text-decoration: none;
}

header h1#logo {
	background: url(../img/cloud_bg.jpg) no-repeat center center;
	background-size: cover;
	margin: 0 auto;
	padding: 4rem 0;
	text-align: center;
}

header h1#logo a {
	color: #000;
}

header h1#logo span {
	display: block;
}

header h1#logo span.name {
	font-family: 'Roboto Slab', serif;
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: -.1rem;
}

header h1#logo span.title {
	font-size: 2rem;
	font-weight: 100;
	text-transform: uppercase;
}

article#portfolio div.row {
	margin: 0;
}

article#portfolio div.row div.portfolio-item {
	position: relative;
	padding: 0;
	overflow: hidden;
}

article#portfolio div.row div.portfolio-item a {
	display: block;
}

article#portfolio div.portfolio-item div.overlay {
	display:none;
}

article#portfolio div.portfolio-item div.overlay h3{
	color: #fff;
	text-transform: uppercase;
}

article#portfolio div.portfolio-item:hover div.overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 1000;
	background-color: rgba(0,0,0,.8);
}