body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0 4rem;
}

.bg-pugh-lt {
	background-color: #ebf4ff;
}

.card {
	border: none;
}

article {
	padding: 4rem 0;
}

article#intro {
	padding-bottom: 15rem;
}

article#latest-work div.row {
	margin-top: -15rem;
}

article#latest-work div.row div.card div.card-img-overlay {
	display: none;
}

article#latest-work div.row div.card:hover div.card-img-overlay {
	display: flex;
	background-color: rgba(4,30,66,.9);
}